:root {
    --color-primary: #5ec576;
    --color-secondary: #ffcb03;
    --color-tertiary: #ff585f;
    --color-primary-darker: #4bbb7d;
    --color-secondary-darker: #ffbb00;
    --color-tertiary-darker: #fd424b;
    --color-primary-opacity: #5ec5763a;
    --color-secondary-opacity: #ffcd0331;
    --color-tertiary-opacity: #ff58602d;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body
{
    background-color: #f3f3f3;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
.hidden
{
    display: none;
}
header
{
    width: 100%;
    height: 100vh;
}
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 90px;
    z-index: 100;
}
.navImage
{
    height: 45px;
}
.navLinks
{
    display: flex;
    list-style-type: none;
    font-size: 20px;
}
.navItem
{
    margin-left: 48px;
    padding: 0;
}
.navLink, .navLink:visited
{
    text-decoration: none;
    color: inherit;
    font-size: 17px;
    font-weight: 300;
}
.navLinkLast, .navLinkLast:visited
{
    background-color: var(--color-primary);
    padding: 8px 22px;
    border-radius: 40px;
    font-size: 18px;
}
.headerMain
{
    width: 85%;
    margin: 0 auto;
    display: flex;
}
.headerLeft, .headerRight
{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.headerLeft
{
    /* line-height: 40px; */
    font-size: 25px;
    margin: 50px 5px;
}
.highlight
{
    position: relative;
}
.highlight::after
{
    content: '';
    background-image: var(--gradient-primary);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: skew(-15deg);
    opacity: 0.7;
}
.headerLeft > h4
{
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 100;
    margin: 40px 0px;
}
.learnMoreButton
{
    border: none;
    outline: none;
    color: var(--color-primary);
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    width: 120px;
    position: relative;
    left: 0;
    border-bottom: 1px solid var(--color-primary);
}
.headerRightImage
{
    width: 100%;
    height: auto;
    transform: scale(0.7) translateX(15px);
}
.section
{
    border-top: 1px solid rgb(216, 216, 216);
}
.featuresTop
{
    width: 70%;
    margin: 0 auto;
    padding: 120px 80px;
}
.featuresTop > h4
{
    color: var(--color-primary);
    font-size: 25px;
}
.featuresTop > h1
{
    font-size: 30px;
}
.featuresBoxes
{
    width: 80%;
    margin: 0 auto;
}
.boxRow
{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px;
}
.boxLeft, .boxRight
{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.boxImage
{
    width: 100%;
}
.circle
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #D1E9D7;
}
.circle, .featureh1, .featureText
{
    margin: 25px;
}
.featureDetails
{
    padding: 50px;
}
.tabDataLeft > .circle
{
    background-color: #f1e6bb;
    position: relative;
    right: -60px;
    top: 0px;
    transform: scale(1.5);
}
.tabsSection
{
    width: 75%;
    height: 300px;
    margin: 0 auto;
    background-color: #ffffff;
}
.tabButtons
{
    width: 100%;
    padding: 0 150px;
    display: flex;
    justify-content: space-around;
}
.tabButton
{
    padding: 13px 35px;
    border-radius: 20px;
    position: relative;
    top: -20px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
#btn1
{
    background-color: var(--color-secondary);
    /* transform: translateY(-10px); */
}
#btn2
{
    background-color: var(--color-primary);
}
#btn3
{
    background-color: var(--color-tertiary);
}
.tabData
{
    display: flex;
    padding: 30px;
    position: absolute;
}
.tabDataRight
{
    padding: 40px;
}
.tabDataRight h4
{
    font-size: 25px;
    font-weight: 100;
    padding-right: 50px;
    padding-left: 50px;
}
.tabDataRight p
{
    font-size: 15px;
    word-spacing: 1px;
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
}
#section2
{
    padding-bottom: 100px;
}
.sectionSignUp
{
    background-color: #37383D;
    width: 100%;
    height: 100vh;
}


/* Need to work on testimonials */

.signUpTitle
{
    color: #fff;
    text-align: center;
    margin: 100px 150px;
    font-size: 25px;
    border: none;
}
.signUpTitle .navLinkLast
{
    border: none;
    outline: none;
    cursor: pointer;
    margin: 50px;
    padding: 20px;
}
.bottomLinks
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 40px 250px 0px 250px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: -30px;
}
.bottomLinks a, .bottomLinks a:visited
{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.bottomLogo
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    padding-top: 30px;
}

/* style for modal */
.openModal
{
    font-weight: 500;
    transition: 0.1s ease-in;
                
}
.openModal:hover
{
    transform: scale(1.05);
}
.modal
{
    width: 50%;
    padding: 30px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    position: fixed;
}
.closeButton
{
    position: absolute;
    right: 0;
    top: 0;
    display: inline;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
    font-size: 40px;
    cursor: pointer;
}
.overlay
{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
}
